body {
    background-color: skyblue;
    color: rgb(71, 83, 95);
    font-family: Arial;
    margin: 0;
}

header {
    background: linear-gradient(to right, black, lightyellow, pink, purple);
    background-color: black;
    color: beige;
    font-size: 16pt;
    padding: 10px;
    transition: 1s;
}
header:hover {
    background: linear-gradient(to left, black, lightyellow, pink, purple);
    font-size: 24pt;
    text-align: right;
}

footer {
    background: linear-gradient(to left, black, lightyellow, pink, purple);
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16pt;
    padding: 10px;
    font-style: italic;
    text-align: right;
    color: beige;
    transition: 1s;
}
footer:hover {
    background: linear-gradient(to right, black, lightyellow, pink, purple);
    font-size: 24pt;
    text-align: left;
}

a {
    color: rgb(80, 160, 80);
    text-decoration: none;
    transition: 1000ms 200ms;
}

a:visited {
    color: greenyellow;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms;
}

a:active {
    color: greenyellow;
    text-decoration: none;
}